- var context = ''
- var title = ''
- var image = ''
- var disc = ''
- var url = '/'
- var css = ''
- var path = ''

doctype html
html(lang="ja")
	include /_meta.jade
	body
		include /_header.jade
		section
		include /_footer.jade
		script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
		script(src="/js/main.min.js")