extends /_layout.pug

block variables
	//- var title = ''
	//- var ogimage = ''
	//- var disc = ''
	//- var url = ''
	//- var iconpath = ''
	//- var csspath = ''
	//-
	//- var img = ''
	//- var context = ''

//-block append css
//-block header
block content
	section
		p custom content
//-block footer
//-block append script